<ion-view title="Add new customer" id="page10">
  <ion-content padding="true" class="has-header">
    <form id="addNewCustomer-form9" class="list">
      <label class="item item-input" id="addNewCustomer-input15">
        <input type="text" placeholder="Enter full name">
      </label>
      <label class="item item-input" id="addNewCustomer-input19">
        <input type="text" placeholder="Enter address">
      </label>
      <label class="item item-input" id="addNewCustomer-input20">
        <input type="text" placeholder="Enter country and zip code">
      </label>
      <label class="item item-input" id="addNewCustomer-input21">
        <input type="text" placeholder="Enter contact number">
      </label>
    </form>
    <button id="addNewCustomer-button6" class="button button-stable button-block">Add customer</button>
  </ion-content>
</ion-view>