<ion-view title="Customers" id="page5">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-android-add"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <ion-list id="customers-list4">
      <label class="item item-input" id="customers-search1">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Search for customer">
      </label>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="customers-list8">
      <ion-item class="item-icon-right" id="customers-list-item19" ui-sref="dresBa.customerInfo()">Izet Copelj
        <i class="icon ion-android-star-outline"></i>
        <ion-option-button class="button-assertive">Delete</ion-option-button>
      </ion-item>
      <ion-item class="item-icon-right" id="customers-list-item20" ui-sref="dresBa.customerInfo()">Haris Spahic
        <i class="icon ion-android-star-outline"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>