<ion-view title="Customer info" id="page9">
  <ion-content padding="true" class="has-header">
    <ion-list id="customerInfo-list11">
      <ion-item id="customerInfo-list-item44" ui-sref="dresBa.editCustomer()">Customer full info</ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="customerInfo-list13">
      <ion-item id="customerInfo-list-item33" ui-sref="dresBa.orderInfo()">Narudzba 1</ion-item>
      <ion-item id="customerInfo-list-item34" ui-sref="dresBa.orderInfo()">Narudzba 2</ion-item>
      <ion-item id="customerInfo-list-item35" ui-sref="dresBa.orderInfo()">Narudzba 3</ion-item>
    </ion-list>
  </ion-content>
</ion-view>