<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-assertive">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21">
    <ion-content padding="false" style="top:0px !important;" class="side-menu-left ">
      <div class="spacer" style="width: 268px; height: 33px;"></div>
      <div class="profile-image">
        <a style="display:block;" ui-sref="dresBa.myProfile()" menu-close="">
          <img src="img/2mrwIVmiTZimzkaxEAj2_11751783_1630647707175383_1091615965367722951_n.jpg" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
        </a>
      </div>
      <h4 id="dresBa-heading1" style="color:#DD4242;font-weight:400;text-align:center;" class="heading-username">@iammirzao</h4>
      <div class="spacer" style="width: 268px; height: 12px;"></div>
      <ion-list id="dresBa-list1">
        <ion-item class="item-icon-right assertive" id="dresBa-list-item2" ui-sref="dresBa.orders()" menu-close="">Orders
          <i class="icon ion-android-cart"></i>
          <ion-option-button class="button-positive"></ion-option-button>
        </ion-item>
        <ion-item class="item-icon-right assertive" id="dresBa-list-item27" ui-sref="dresBa.customers()" menu-close="">Customers
          <i class="icon ion-android-contacts"></i>
          <ion-option-button class="button-positive"></ion-option-button>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>