<ion-view title="Login" id="page4">
  <ion-content padding="true" class="has-header">
    <form id="login-form4" class="list">
      <ion-list id="login-list3">
        <ion-item class="item-thumbnail-left light" id="login-list-item26">
          <img src="img/7hb6B8GjTn2AL4zRJcYz_dres.ba.png">
        </ion-item>
        <label class="item item-input" id="login-input3">
          <input type="text" placeholder="username">
        </label>
        <label class="item item-input" id="login-input4">
          <input type="password" placeholder="password">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <a ui-sref="dresBa.orders" id="login-button1" class="button button-stable  button-block">Log in</a>
      <a href="/signup" href-inappbrowser="_system" id="login-button2" class="button button-positive  button-block button-clear">Or create an account</a>
    </form>
  </ion-content>
</ion-view>