<ion-view title="Edit customer" id="editcustomer">
  <ion-content padding="true" class="has-header">
    <form id="editCustomer-form12" class="list">
      <label class="item item-input" id="editCustomer-input23">
        <input type="text" placeholder="Edit full name">
      </label>
      <label class="item item-input" id="editCustomer-input24">
        <input type="text" placeholder="Edit address">
      </label>
      <label class="item item-input" id="editCustomer-input25">
        <input type="text" placeholder="Edit country and zip code">
      </label>
      <label class="item item-input" id="editCustomer-input26">
        <input type="text" placeholder="Edit contact number">
      </label>
      <button id="editCustomer-button9" class="button button-stable button-block">Save changes</button>
      <button id="editCustomer-button10" class="button button-assertive button-block">Delete customer</button>
    </form>
  </ion-content>
</ion-view>
