<ion-view title="Sign up" id="signup">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 40px;"></div>
    <form id="signUp-form5" class="list">
      <ion-list id="signUp-list6">
        <label class="item item-input" id="signUp-input5">
          <input type="text" placeholder="Enter your full name">
        </label>
        <label class="item item-input" id="signUp-input9">
          <input type="text" placeholder="Enter your e-mail" ng-model="user.email">
        </label>
        <label class="item item-input" id="signUp-input6">
          <input type="password" placeholder="Enter your password" ng-model="user.password">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <a ng-click="signUp(user)" id="signUp-button3" class="button button-stable button-block">Sign up</a>
    </form>
  </ion-content>
</ion-view>
