<ion-view title="Add new order" id="addneworder">
  <ion-content padding="true" class="has-header">
    <form id="addNewOrder-form10" class="list">
      <label class="item item-select" id="addNewOrder-select1">
        <span class="input-label">Choose customer</span>
        <select></select>
      </label>
      <label class="item item-input" id="addNewOrder-input13">
        <input type="text" placeholder="Products info">
      </label>
      <label class="item item-input" id="addNewOrder-input17">
        <input type="text" placeholder="Add tracking number">
      </label>
    </form>
    <button id="addNewOrder-button7" class="button button-stable button-block">Add order</button>
  </ion-content>
</ion-view>
