<ion-view title="Edit order" id="editorder">
  <ion-content padding="true" class="has-header">
    <form id="editOrder-form11" class="list">
      <label class="item item-input" id="editOrder-input22">
        <input type="text" placeholder="Edit products info">
      </label>
      <label class="item item-input" id="editOrder-input18">
        <input type="text" placeholder="Edit tracking number">
      </label>
    </form>
    <button id="editOrder-button8" class="button button-stable button-block">Save changes</button>
    <button id="editOrder-button11" class="button button-assertive button-block">Delete order</button>
  </ion-content>
</ion-view>
