<ion-view title="Order info" id="orderinfo">
  <ion-content padding="true" class="has-header">
    <ion-list id="orderInfo-list16" ng-click="editOrder(orderInfo);">
      <ion-item ui-sref="ordersManager.editOrder()">
        {{orderInfo.customer}}
      </ion-item>
      <ion-item ui-sref="ordersManager.editOrder()">
        {{orderInfo.orderInfo}}
      </ion-item>
      <ion-item ui-sref="ordersManager.editOrder()">
        {{orderInfo.trackingNo}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
